.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    color: var(--white);
  }
}

.containerHeader {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 20px;

  button {
    background: transparent;
    border: 0;
  }
}

.listOrders {
  display: flex;
  flex-direction: column;
  gap: 14px;


}

.orderItem{
    display: flex;
    background-color: var(--dark-900);
    align-items: center;
    border: 0;
    font-size: 20px;
    border-radius: 8px;
    color: var(--white);

        &:hover{
            filter: brightness(1.2);
        }
}

.tag{
    width: 12px;
    height: 60px;
    background-color: var(--red-900);
    border-radius: 6px 0 0 6px;
    margin-right: 16px;

}


.emptyList{
  color: var(--gray);
}
